<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--2-col"></div>
  <div class="mdl-cell mdl-cell--8-col text-center">
  	<div class="font-18">Configure your scrapers by clicking on the <i class="fa fa-cog font-22"></i>.</div>
  	<div class="font-18">Then scrape some results on the <b class="font-22">All Jobs</b> page.</div>
  	<br>
  	<div class="font-18">Set the status for jobs as you work through them:</div>
  	<div class="font-18">Dismiss a listing by clicking on the <i class="fa fa-times-circle-o"></i></div>
  	<div class="font-18">Set your preferred jobs to <b class="font-22">Interested</b></div>
  	<div class="font-18">Set jobs you've contacted to <b class="font-22">Applied</b></div>
  	<div class="font-18">Set jobs you've followed up to <b class="font-22">Followed Up</b></div>
  	<div class="font-18">Set jobs you've interviewed to <b class="font-22">Interviewed</b></div>
  </div>
</div>