<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--2-col"></div>
  <div class="mdl-cell mdl-cell--8-col text-center">
  	<div class="font-18">Configure your scrapers by clicking on the <i class="fa fa-cog font-22"></i>.</div>
  	<div class="font-18">Then check out the results on the <b class="font-22">Jobs</b> page.</div>
  	<div class="font-18">View your favorite listings on the <b class="font-22">Favorites</b> page.</div>
  </div>
</div>