<div class="mdl-grid">
	<div class="mdl-cell mdl-cell--2-col"></div>
	<div class="mdl-cell mdl-cell--8-col">
		<hr>
		<%= erb :listings_include, :locals => {:listings => $listings} %>
	</div>
</div>