<div class="mdl-grid">
	<div class="mdl-cell mdl-cell--2-col"></div>
	<div class="mdl-cell mdl-cell--8-col">
		<hr>
		<form class="scrapeForm text-center" method="post">
			<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent scrapeButton" type="submit">
			  Scrape Listings <i class="fa fa-database margin-left-5"> (<% if listings.kind_of?(Array) %><%= listings.length %><% else %>0<% end %>)</i>
			</button>
		</form>
		<hr>
		<%= erb :listings_include, :locals => {:listings => $listings} %>
	</div>
</div>