<!DOCTYPE html>
<html>
	<head>
		<title>JobHound</title>
		<link rel="stylesheet" href="/css/font-awesome.min.css">
		<link rel="stylesheet" href="/mdl/material.min.css">
		<script src="/mdl/material.min.js"></script>
		<link href='https://fonts.googleapis.com/css?family=Raleway:600,400,200' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="/css/style.css">
		<script type="text/javascript" src="/js/jquery-2.2.4.min.js"></script>
		<script src="/js/actions.js"></script>
	</head>
	<body>
		<header>
			<h1 class="text-center"><a href="/" title="JobHound">JobHound</a><a href="/config" title="Configure JobHound" class="black inline"><i class="fa fa-cog font-16"></i></a></h1>
			<div class="menu text-center">
				<a href="/jobs" title="All Jobs">All Jobs</a>&nbsp;|
				<a href="/interested" title="Interested">Interested</a>&nbsp;|
				<a href="/followup" title="Followup">Followed Up</a>&nbsp;|
				<a href="/applied" title="Applied">Applied</a>&nbsp;|
				<a href="/interviewed" title="Interviewed">Interviewed</a>&nbsp;|
				<a href="/dismissed" title="Dismissed">Dismissed</a>
			</div>
		</header>
		<%= yield %>
	</body>
</html>