<!DOCTYPE html>
<html>
	<head>
		<title>JobHound</title>
		<link rel="stylesheet" href="./mdl/material.min.css">
		<script src="./mdl/material.min.js"></script>
		<link rel="stylesheet" href="style.css">
		<script type="text/javascript" src="jquery-2.2.4.min.js"></script>
	</head>
	<body>
		<header>
			<h1 class="text-center">JobHound</h1>
			<div class="text-center">
				<a href="/config" title="Config">Config</a>
				<a href="/jobs" title="Jobs">Jobs</a>
			</div>
		</header>
		<%= yield %>
	</body>
</html>