<!DOCTYPE html>
<html>
	<head>
		<title>JobHound</title>
		<link rel="stylesheet" href="/font-awesome.min.css">
		<link rel="stylesheet" href="/mdl/material.min.css">
		<script src="/mdl/material.min.js"></script>
		<link rel="stylesheet" href="/style.css">
		<script type="text/javascript" src="/jquery-2.2.4.min.js"></script>
		<link href='https://fonts.googleapis.com/css?family=Raleway:600,400,200' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<header>
			<h1 class="text-center"><a href="/" title="JobHound">JobHound</a><a href="/config" title="Configure JobHound" class="black inline"><i class="fa fa-cog font-16"></i></a></h1>
			<div class="text-center">
				<a href="/jobs" title="Jobs">Jobs</a>
				<a href="/favorites" title="Favorites">Favorites</a>
			</div>
		</header>
		<%= yield %>
	</body>
</html>