I'm writing to express my interest in the recently advertised {position} role. I believe I could bring valuable skills and experience to {employer} that would make me an ideal fit for this position. I have 10 years of experience as a {position} and in this time I have crushed so hard.

Thank you for taking the time to consider my application, and I look forward to hearing from you.

Yours sincerely,
Employee